.container {
  text-align: center;
}

.input {
  margin-top: 10px;
  margin-bottom: 80px;
}

.tableHeaderItem {
  display: inline-block;
}

.tableHeaderItem:not(:last-child) {
  margin-right: 50px;
}

.columnItem {
  display: inline-block;
  text-align: left;
}

.columnItem:not(:last-child) {
  margin-right: 130px;
}

